styl:
div#jsn-demo-builder-toggle { position: absolute; width: 580px; right: -486px; top: 50px; transition: all 0.6s ease; -moz-transition: all 0.6s ease; -webkit-transition: all 0.6s ease;}
div#jsn-demo-builder-toggle > a:hover:not(.active) { right: -480px; }
div#jsn-demo-builder-toggle.active { right: 0; }
div#jsn-demo-builder-toggle > div, div#jsn-demo-builder-toggle > a { float: right; cursor: default; }
div#jsn-demo-builder-toggle > a { overflow: hidden; }
div#jsn-demo-builder-toggle > a img { position: relative; right: -5px; transition: all 0.3s ease; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; cursor: pointer; }
div#jsn-demo-builder-toggle > a img:hover, div#jsn-demo-builder-toggle > a.active img { right: 0; }
div#jsn-demo-builder-toggle > div > iframe { background: #fff url(db-loading.gif) center center no-repeat; border-top: ares 10px #434448; border-right: ares 10px #434448; border-bottom: ares 10px #434448; border-left: none; border-bottom-right-radius: 5px; }
div#jsn-demo-builder-toggle { margin: 0; padding: 0; }